body{
	margin: 10px;
	background-color: #eee;
	display: flex;
    height: 100vh; /* Full viewport height */
    overflow: hidden;
    padding-top: 10px;

}
.account{
	background-color: #fff;
	padding: 10px 15px;
	margin-top: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.btn-login{
	background-color: #4267B2;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    width: 100%;
}

.btn-following{
	background-color: #282828;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    width: 100%;
}
.btn-premium {
    background-image: linear-gradient(to right, #FFA500, #FF4500); /* Gradient from light orange to dark orange */
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 15px;
    width: 100%;
}

.btn-login-sec{
	background-color: #fff;
    color: #4267B2;
    border: #4267B2;
    border-radius: 5px;
    padding: 8px 15px;
    width: 100%;
    border: 1px solid #4267B2;
}
.post{
	background-color: #fff;
	padding: 10px 12px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.post-actions button{
	width: 100%;
}
.button{
	width: 100%;
	margin-top: 10px;
	background-color: #4267B2;
	color: #fff;
}

.post input{
	width: 100%;
	padding: 8px 15px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

.feed {
    max-height: 100vh;
    overflow-y: auto;
   scrollbar-width: thin; /* Firefox */
    scrollbar-color: #4267B2 #fff; /* Firefox */
}

/* Chrome, Edge, and Safari */
.feed::-webkit-scrollbar {
    width: 15px;
}

.feed::-webkit-scrollbar-track {
    background: #fff;
}

.feed::-webkit-scrollbar-thumb {
    background-color: #4267B2;
    border-radius: 2px;
}
.users{
	background-color: #fff;
	margin: 10px;
	padding: 8px 12px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.user {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
}

.user-avatar {
    width: 40px; /* Adjust as per your preference */
    height: 40px; /* Adjust as per your preference */
    border-radius: 50%; /* Circular avatar */
    margin-right: 10px;
}

.user-name {
    flex-grow: 1;
    margin-right: 10px;
    font-size: 15px;
}

.btn-follow {
    background-color: #4267B2;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 12px;
    padding: 8px 15px;
}
.profile-card h6{
	text-align: center;
	font-weight: 700;
	margin: 10px;
}
#userPosts {
    max-height: 500px; /* Adjust the height as needed */
    overflow-y: auto;  /* Enables vertical scrolling */
}
#postCounter{
	padding: 8px 15px;
	background-color: #4267B2;
	color: #fff;
	border-radius: 5px;
}
#payment-form{
	background-color: #fff;
	margin: 50px;
	padding: 50px;
	margin-top: 150px;
	border-radius: 5px;
}



