body{
	margin: 10px;
	background-color: #eee;

}
.account{
	background-color: #eee;
	padding: 10px 15px;
}
.post{
	background-color: #fff;
	padding: 10px 12px;
	margin: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.feed, .users {
    height: 650px; /* Adjust the height as needed */
    overflow-y: auto;
}